body {
  background-color: #440D0F;
  color: #AF9BB6;
}

.navbar-inverse {
  background-color: #191716;
  border-color: #191716;
}

.product {
  margin-bottom: 20px;
}
.product img {
  width: 100%;
}
